/* Navbar */
.custom-navbar {
  background-color: #2c3e50;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.custom-navbar {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-weight: bold;
  color: #ffffff !important;
  transition: color 0.3s;
}

.navbar-brand {
  color: #3498db !important;
}

.nav-link {
  color: #3498db !important;
  transition: color 0.3s;
}

.nav-link {
  color: #3498db !important;
}

.btn-outline-danger {
  color: #ffffff !important;
  border-color: #e74c3c;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-danger {
  background-color: #e74c3c;
  color: #ffffff !important;
}

/* Cards */
.custom-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-card-header {
  background-color: #3498db;
  color: #ffffff;
}

/* Buttons */
.btn:hover {
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}

/* Table */
.table-striped tbody tr:hover {
  background-color: #3498db ;
  cursor: pointer;
}

/* Form Inputs */
.form-control:hover {
  transition: box-shadow 0.3s;
}

.form-control:focus {
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

