
<div class="container mt-5"></div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header text-center">
          <h2 class="text-center mb-4">Register</h2>
        </div>
        <div class="card-body">
          <form #registerForm="ngForm" (ngSubmit)="register()">
            <div class="form-group">
              <label for="username">Username:</label>
              <input [(ngModel)]="user.username" name="username" id="username" class="form-control" required pattern="^[a-zA-Z]{3,15}$" appUniqueUsername #username="ngModel">
              <div *ngIf="registerForm.submitted || username.touched">
                <small *ngIf="username.errors?.['required']" class="text-danger">Username is required.</small>
                <small *ngIf="username.errors?.['pattern']" class="text-danger">Minimum 3, Maximum 15 characters required.</small>
                <!-- <small *ngIf="username.errors?.['usernameTaken']" class="text-danger">Username already exists. Please choose a different username.</small> -->
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input [(ngModel)]="user.email" name="email" id="email" type="email" class="form-control" required email #email="ngModel">
              <div *ngIf="registerForm.submitted || email.touched">
                <small *ngIf="email.errors?.['required']" class="text-danger">Email is required.</small>
                <small *ngIf="email.errors?.['email']" class="text-danger">Email address is invalid.</small>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input [(ngModel)]="user.password" name="password" id="password" type="password" class="form-control" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$" #password="ngModel">
              <div *ngIf="registerForm.submitted || password.touched">
                <small *ngIf="password.errors?.['required']" class="text-danger">Password is required.</small>
                <small *ngIf="password.errors?.['pattern']" class="text-danger">
                  <ul>
                    <li>At least 8 characters long</li>
                    <li>Contains at least one lowercase letter</li>
                    <li>Contains at least one uppercase letter</li>
                    <li>Contains at least one digit</li>
                    <li>Contains at least one special character from the set !&#64;#$%^&*</li>
                  </ul>
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="role">Role:</label>
              <select [(ngModel)]="user.role" name="role" id="role" class="form-control" required #role="ngModel">
                <option value="" disabled selected>Select Role</option>
                <option value="PLANNER">Planner</option>
                <option value="CLIENT">Client</option>
                <option value="STAFF">Staff</option>
              </select>
              <div *ngIf="registerForm.submitted || role.touched">
                <small *ngIf="role.errors?.['required']" class="text-danger">Role is required.</small>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="registerForm.invalid">Register</button>
          </form>
        </div>
        <div class="card-footer text-center">
          <p>Already have an account? <a  (click)="onClick()">Login here</a></p>
        </div>
      </div>
    </div>
  </div>

